.profile {
    margin-left: 20px;
    width: 350px;
    height: 350px;
    padding-bottom: 40px;
}

.about {
    color: wheat;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    background-color:#333333;
}