.navbar {
    text-align: center;
    background-color: #282c34;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    color: whitesmoke;
    padding-left: 3rem; 
  }
