.card {
    width: 24rem;
    height: 27rem;
    margin-top: 2rem;
    margin-left: 10px;
}

.works {
    background-color: #EBEEEE;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

