.social {
    background-color: gray;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 4.5em;
  }
  
  .fa-facebook {
    color: #3b5998;
    padding: 3rem;
  }
  .fa-linkedin {
    color: #00aced;
    padding: 3rem;
  }
  .fa-instagram {
    color: #bc2a8d;
    padding: 3rem;
  }
  .fa-github {
    color:#24292E;
    padding: 3rem;
  }
  .fa-facebook:hover,
  .fa-linkedin:hover,
  .fa-instagram:hover,
  .fa-github:hover {
    color: #d5d5d5;
  }